<section class="hero">
      <div class="hero-left">
        <div class="hero-left-content">
          <h1 class="hero-left-content__title">
            <span>IT'S TIME</span>
            <span>TO STEP UP</span>
            <span>YOUR GAME</span>
          </h1>
          <a href="#" class="hero-left-content__btn">Shop now</a>
        </div>

      </div>
      </div>
      <div class="hero-right">
        <div class="hero-right__img">
          <img src="\images/hero-portret.jpg" alt="">
        </div>
      </div>
    </section>